
@media (max-width: 768px) {
    .containerPage{
        padding: 0 !important;
    }
}

main {
    width: 100%;
}

body {
    background-color: #f3dbcf;
    color: #D87F81
}

.containerPage {
    padding: 0px 8rem;
    background-color: #f3dbcf;
}

.container0 {
    background-color: #7e9680;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
}

.container1 {
    background-color: #f3dbcf;
}

 /* container do card com a imagem e texto  */
.container2 {
    background-color: #D87F81;
    padding: 3rem;
    /* border:outset; */
    color: white;
}

.containerLogin {
    padding-left: 10rem;
    padding-right: 10rem;
}

.btn_send {
    background-color: #7e9680;
    border: outset;
    color: white;
    padding: 10px 30px;
}

.btn_header {
    border: none;
    background-color: inherit;
    padding: 20px;
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    color: #D87F81;
    /* cursor: pointer;
    display: inline-block; */
}

.btn_title {
    border: none;
    background-color: inherit;
    font-size: 48px;
    font-family: monospace;
    text-decoration: none;
    color: #ae6378;
}

.btn_icon {
    border: none;
    background-color: inherit;
    text-align: center;
    padding: 0px 10px;
    font-size: 20px;
    color: #f3dbcf;
}

.h1_title {
    color: #ae6378;
    font-family: monospace;
}

.card {
    padding: 18px;
    border: none;
    background-color: #D87F81;
    color: #e5c1cd;
}

/* card da pagina produto */
.chama { 
    background-color: white;
    height: auto;
    margin-bottom: 1rem;
}

a:hover {
    color: #e5c1cd;
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
    height: 250px;
}

hr {
    border: none;
    height: 3px;
    background-color: #ae6378;
}